In [15]:
import pandas as pd 
import numpy as np 
df = pd.read_csv('income.csv', names = ['name', 'income'], skiprows = (0))
print(df)

        name              income
0       Name  Monthly Income ($)
1        Rob                5000
2      Rafiq                6000
3       Nina                4000
4      Sofia                7500
5      Mohan                8000
6        Tao                7000
7  Elon Musk            10000000

In [16]:
df.income.describe()

count                      8
unique                     8
top       Monthly Income ($)
freq                       1
Name: income, dtype: object

In [17]:
df.rank()

   name  income
0   3.0     8.0
1   6.0     3.0
2   5.0     4.0
3   4.0     2.0
4   7.0     6.0
5   2.0     7.0
6   8.0     5.0
7   1.0     1.0