In [26]:
import numpy as np

vector = np.array([1, 2, 3])
print(f"1D Array:\n{vector}")

matrix = np.array([[1, 2, 3], [4, 5, 6]])
print(f"2D Array:\n{matrix}")

1D Array:
[1 2 3]
2D Array:
[[1 2 3]
 [4 5 6]]

In [27]:
# Describe the details of the dataset

print(f"Vector Shape: {vector.shape}")
print(f"Matrix Shape: {matrix.shape}")

print("Vector NDim:", vector.ndim)
print("Matrix NDim:", matrix.ndim)

print("Vector Data Type:", vector.dtype)
print("Matrix Data Type:", matrix.dtype)

print("Vector Size:", vector.size)
print("Matrix Size:", matrix.size)

Vector Shape: (3,)
Matrix Shape: (2, 3)
Vector NDim: 1
Matrix NDim: 2
Vector Data Type: int64
Matrix Data Type: int64
Vector Size: 3
Matrix Size: 6

In [28]:
import pandas as pd

df = pd.read_csv("AWCustomers.csv")
df.head

<bound method NDFrame.head of        CustomerID Title FirstName MiddleName  LastName Suffix  \
0           21173   NaN      Chad          C      Yuan    NaN
1           13249   NaN      Ryan        NaN     Perry    NaN
2           29350   NaN     Julia        NaN  Thompson    NaN
3           13503   NaN  Theodore        NaN     Gomez    NaN
4           22803   NaN  Marshall          J      Shan    NaN
...           ...   ...       ...        ...       ...    ...
18356       25414   NaN     Grace          C    Bailey    NaN
18357       11459   NaN     Tasha        NaN      Deng    NaN
18358       12160   NaN    Jaclyn        NaN     Zhang    NaN
18359       14353   NaN      Erin          I      Reed    NaN
18360       16676   NaN    Amanda        NaN     Perry    NaN

                 AddressLine1 AddressLine2            City  \
0          7090 C. Mount Hood          NaN      Wollongong
1         3651 Willow Lake Rd          NaN         Shawnee
2      1774 Tice Valley Blvd.          NaN     West Covina
3             2103 Baldwin Dr          NaN       Liverpool
4             Am Gallberg 234          NaN           Werne
...                       ...          ...             ...
18356      6627 Camelback Ct.          NaN        Coronado
18357         9627 Kendall Rd          NaN  Port Macquarie
18358       4364 Viera Avenue          NaN       Beaverton
18359  3866 Mt. Everest Court          NaN       Vancouver
18360     7870 Orangewood Dr.          NaN       Grossmont

         StateProvinceName  ...        Education      Occupation Gender  \
0          New South Wales  ...        Bachelors        Clerical      M
1         British Columbia  ...  Partial College        Clerical      M
2               California  ...        Bachelors        Clerical      F
3                  England  ...  Partial College  Skilled Manual      M
4      Nordrhein-Westfalen  ...  Partial College  Skilled Manual      M
...                    ...  ...              ...             ...    ...
18356           California  ...  Graduate Degree  Skilled Manual      F
18357      New South Wales  ...        Bachelors  Skilled Manual      F
18358               Oregon  ...  Partial College  Skilled Manual      F
18359     British Columbia  ...      High School        Clerical      F
18360           California  ...  Graduate Degree    Professional      F

      MaritalStatus HomeOwnerFlag NumberCarsOwned NumberChildrenAtHome  \
0                 M             1               3                    0
1                 M             1               2                    1
2                 S             0               3                    0
3                 M             1               2                    1
4                 S             1               1                    0
...             ...           ...             ...                  ...
18356             M             0               1                    0
18357             S             0               2                    0
18358             S             0               2                    0
18359             S             0               0                    0
18360             M             1               2                    0

      TotalChildren  YearlyIncome  LastUpdated
0                 1         81916   2017-03-06
1                 2         81076   2017-03-06
2                 0         86387   2017-03-06
3                 2         61481   2017-03-06
4                 0         51804   2017-03-06
...             ...           ...          ...
18356             2         52953   2017-03-06
18357             0         60992   2017-03-06
18358             0         51859   2017-03-06
18359             0         87177   2017-03-06
18360             0        136856   2017-03-06

[18361 rows x 24 columns]>

In [29]:
df[['Occupation', 'Education']]

           Occupation        Education
0            Clerical        Bachelors
1            Clerical  Partial College
2            Clerical        Bachelors
3      Skilled Manual  Partial College
4      Skilled Manual  Partial College
...               ...              ...
18356  Skilled Manual  Graduate Degree
18357  Skilled Manual        Bachelors
18358  Skilled Manual  Partial College
18359        Clerical      High School
18360    Professional  Graduate Degree

[18361 rows x 2 columns]

In [30]:
df[df['Occupation'] == 'Professional']

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
13,22031,NaN,Jorge,NaN,Cai,NaN,7952 Quartermaster,NaN,Wollongong,New South Wales,...,Bachelors,Professional,M,M,1,2,0,2,133762,2017-03-06
26,15473,NaN,Abigail,NaN,Jenkins,NaN,4838 Second Street,NaN,Coronado,California,...,Bachelors,Professional,F,S,1,2,0,0,137464,2017-03-06
52,26741,NaN,Nichole,J,Pal,NaN,2765 Robbins Place,NaN,Lane Cove,New South Wales,...,Bachelors,Professional,F,M,1,2,1,1,130385,2017-03-06
55,14050,NaN,Manuel,M,Lopez,NaN,2396 Ancona Ct.,NaN,Cloverdale,South Australia,...,Graduate Degree,Professional,M,S,1,2,0,0,131458,2017-03-06
87,27193,NaN,Daniel,V,Miller,NaN,6885 Auburn,NaN,Lincoln Acres,California,...,Graduate Degree,Professional,M,S,0,3,0,0,136457,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18297,23367,NaN,Haley,A,Ramirez,NaN,8634 Lake Meadow Circle,NaN,Issaquah,Washington,...,Bachelors,Professional,F,M,1,2,0,2,128111,2017-03-06
18317,18244,NaN,Lindsay,NaN,Chande,NaN,1288 Mt. Dias Blvd.,NaN,East Brisbane,Queensland,...,Graduate Degree,Professional,F,M,1,2,1,2,130494,2017-03-06
18322,13883,NaN,Brandon,NaN,Lal,NaN,3577 Pembroke Court,NaN,Long Beach,California,...,Bachelors,Professional,M,S,1,2,0,0,137513,2017-03-06
18328,14248,NaN,Misty,A,Tang,NaN,2906 Hillcrest Ave.,NaN,Bellflower,California,...,Graduate Degree,Professional,F,M,1,1,1,2,136686,2017-03-06
18360,16676,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

In [31]:
df.isnull().sum()

CustomerID                  0
Title                   18260
FirstName                   0
MiddleName               7789
LastName                    0
Suffix                  18358
AddressLine1                0
AddressLine2            18050
City                        0
StateProvinceName           0
CountryRegionName           0
PostalCode                  0
PhoneNumber                 0
BirthDate                   0
Education                   0
Occupation                  0
Gender                      0
MaritalStatus               0
HomeOwnerFlag               0
NumberCarsOwned             0
NumberChildrenAtHome        0
TotalChildren               0
YearlyIncome                0
LastUpdated                 0
dtype: int64

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB

In [33]:
df["Title"].fillna(df['Title'].mode()[0], inplace=True)

In [34]:
df

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,Mr.,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,Mr.,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,Mr.,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,Mr.,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,Mr.,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Mr.,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,...,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953,2017-03-06
18357,11459,Mr.,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,...,Bachelors,Skilled Manual,F,S,0,2,0,0,60992,2017-03-06
18358,12160,Mr.,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,...,Partial College,Skilled Manual,F,S,0,2,0,0,51859,2017-03-06
18359,14353,Mr.,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,...,High School,Clerical,F,S,0,0,0,0,87177,2017-03-06
18360,16676,Mr.,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

In [35]:
df["LastName"].count()

18361

In [36]:
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()
print(type(diabetes))
print(diabetes)

<class 'sklearn.utils._bunch.Bunch'>
{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990749, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06833155, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286131, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04688253,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452873, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00422151,  0.00306441]]), 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.]), 'frame': None, 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n:Number of Instances: 442\n\n:Number of Attributes: First 10 columns are numeric predictive values\n\n:Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n:Attribute Information:\n    - age     age in years\n    - sex\n    - bmi     body mass index\n    - bp      average blood pressure\n    - s1      tc, total serum cholesterol\n    - s2      ldl, low-density lipoproteins\n    - s3      hdl, high-density lipoproteins\n    - s4      tch, total cholesterol / HDL\n    - s5      ltg, possibly log of serum triglycerides level\n    - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n', 'feature_names': ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], 'data_filename': 'diabetes_data_raw.csv.gz', 'target_filename': 'diabetes_target.csv.gz', 'data_module': 'sklearn.datasets.data'}

In [37]:
X = diabetes.data
y = diabetes.target

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (353, 10)
X_test shape: (89, 10)
y_train shape: (353,)
y_test shape: (89,)

In [38]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict (X_test)
y_pred[:5]

array([139.5475584 , 179.51720835, 134.03875572, 291.41702925,
       123.78965872])

In [39]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 2900.193628493482